<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Online Medical Advisor</display-name>
  <description>
    </description>
  <servlet>
  	<description>
  	</description>
  	<display-name>report</display-name>
  	<servlet-name>report</servlet-name>
  	<servlet-class>gvp.cse.team1.reportServelt</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>logout</display-name>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>gvp.cse.team1.logoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>forgotPassword</display-name>
  	<servlet-name>forgotPassword</servlet-name>
  	<servlet-class>gvp.cse.team1.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>tip</display-name>
  	<servlet-name>tip</servlet-name>
  	<servlet-class>gvp.cse.team1.TipServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>gvp.cse.team1.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>logoutServlet</display-name>
  	<servlet-name>logoutServlet</servlet-name>
  	<servlet-class>gvp.cse.team1.logoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>registerAppointment</display-name>
  	<servlet-name>registerAppointment</servlet-name>
  	<servlet-class>gvp.cse.team1.RegisterAppointment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>appointment</display-name>
  	<servlet-name>appointment</servlet-name>
  	<servlet-class>gvp.cse.team1.AppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>adminLogin</display-name>
  	<servlet-name>adminLogin</servlet-name>
  	<servlet-class>gvp.cse.team1.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>deleteUser</display-name>
  	<servlet-name>deleteUser</servlet-name>
  	<servlet-class>gvp.cse.team1.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>addDoctor</display-name>
  	<servlet-name>addDoctor</servlet-name>
  	<servlet-class>gvp.cse.team1.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>generateAppointment</display-name>
  	<servlet-name>generateAppointment</servlet-name>
  	<servlet-class>gvp.cse.team1.GenerateAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>generateAppointmentAdmin</display-name>
  	<servlet-name>generateAppointmentAdmin</servlet-name>
  	<servlet-class>gvp.cse.team1.GenerateAppointmentAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>doctorLogin</display-name>
  	<servlet-name>doctorLogin</servlet-name>
  	<servlet-class>gvp.cse.team1.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>checkAppointments</display-name>
  	<servlet-name>checkAppointments</servlet-name>
  	<servlet-class>gvp.cse.team1.CheckAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>report</servlet-name>
  	<url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forgotPassword</servlet-name>
  	<url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tip</servlet-name>
  	<url-pattern>/tip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutServlet</servlet-name>
  	<url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerAppointment</servlet-name>
  	<url-pattern>/registerAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>appointment</servlet-name>
  	<url-pattern>/appointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLogin</servlet-name>
  	<url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteUser</servlet-name>
  	<url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addDoctor</servlet-name>
  	<url-pattern>/addDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>generateAppointment</servlet-name>
  	<url-pattern>/generateAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>generateAppointmentAdmin</servlet-name>
  	<url-pattern>/generateAppointmentAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>doctorLogin</servlet-name>
  	<url-pattern>/doctorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkAppointments</servlet-name>
  	<url-pattern>/checkAppointments</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Main.html</welcome-file>
  </welcome-file-list>
</web-app>